import React, { Component } from 'react';
import PropTypes from 'prop-types';

export default class {{ucFirst name}} extends Component {
    constructor(props) {
        super(props);
    }

    render() {
        const {  } = this.props;

        return (

        );
    }
};

{{ucFirst name}}.propTypes = {
    
};

{{ucFirst name}}.defaultProps = {

};