import React from 'react';
import PropTypes from 'prop-types';

const {{ucFirst name}} = props => {
    const {  } = props;

    return (

    );
};

export default {{ucFirst name}};

{{ucFirst name}}.propTypes = {
    
};

{{ucFirst name}}.defaultProps = {

};
