import React from 'react';
import { shallow } from 'enzyme';

import {{ucFirst name}} from './{{ucFirst name}}';

describe('{{ucFirst name}} component test', () => {

    beforeAll(() => {
        jest.useFakeTimers();
    });

    afterAll(() => {
        jest.clearAllTimers();
    });

    it('renders without crashing', () => {
        const wrapper = shallow(<{{ucFirst name}} />);
        expect(wrapper.exists()).toBe(true);
    });

});